<div class="content" ng-init="add()">
    <!-- WIZARD
    ================================================== -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="wizard" id="rootwizard">
                <ul>
                    <li>
                        <a href="#wizard1" data-toggle="tab">
                            <span class="number">1</span>
                            <span class="desc">Pessoal</span>
                        </a>
                    </li>
                    <li>
                        <a href="#wizard2" data-toggle="tab">
                            <span class="number">2</span>
                            <span class="desc">Endereço</span>
                        </a>
                    </li>
                    <li>
                        <a href="#wizard3" data-toggle="tab">
                            <span class="number">3</span>
                            <span class="desc">Documentação</span>
                        </a>
                    </li>
                    <li>
                        <a href="#wizard4" data-toggle="tab">
                            <span class="number">4</span>
                            <span class="desc">Contato</span>
                        </a>
                    </li>
                </ul><!-- /wizard-nav -->

                <div class="progress progress-striped">
                    <div class="progress-bar"></div>
                </div><!-- /.progressbar -->

                <form action="#" role="form" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane" id="wizard1">
                            <h3 class="lead">Dados Pessoais</h3>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="nome">Nome Completo <span class="text-danger">*</span></label>
                                <div class="col-md-6">
                                    <div class="input-group input-group-in">
                                        <input class="form-control" id="nome" name="nome">
                                        <span class="input-group-addon"><i class="fa fa-user text-muted"></i></span>
                                    </div>
                                </div>
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="nomesocial">Nome Social <span class="text-danger">*</span></label>
                                <div class="col-md-6">
                                    <div class="input-group input-group-in">
                                        <input class="form-control" id="nomesocial" name="nomesocial" >
                                        <span class="input-group-addon"><i class="fa fa-asterisk text-muted"></i></span>
                                    </div>
                                </div>
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="nomesocial">Data de Nascimento<span class="text-danger">*</span></label>
                                <div class="col-md-2">
                                    <select class="form-control" id="inputSelect">
                                        <option>Dia</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" id="inputSelect1">
                                        <option>Mês</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" id="inputSelect2">
                                        <option>Ano</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="gender">Sexo <span class="text-danger">*</span></label>
                                <div class="col-md-5">
                                    <div class="nice-radio nice-radio-inline">
                                        <input id="genderMale" name="gender" type="radio" value="Male" checked="checked">
                                        <label for="genderMale">Masculino</label>
                                    </div>
                                    <div class="nice-radio nice-radio-inline">
                                        <input id="genderFemale" name="gender" value="Female" type="radio">
                                        <label for="genderFemale">Feminino</label>
                                    </div>
                                </div>
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="estcivil">Estado Civil <span class="text-danger">*</span></label>
                                <div class="col-md-6">
                                    <select class="form-control" id="estcivil">
                                        <option>selecione</option>
                                        <option>Solteiro(a)</option>
                                        <option>Casado(a)</option>
                                        <option>Divorciado(a)</option>
                                        <option>Viúvo(a)</option>
                                    </select>
                                </div>
                            </div><!-- /form-group -->
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="wizard2">
                            <h3 class="lead">Provide your profile details</h3>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="fullname">Fullname <span class="text-danger">*</span></label>
                                <div class="col-md-5">
                                    <input class="form-control" id="fullname" name="fullname">
                                </div>
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="phoneNumber">Phone Number <span class="text-danger">*</span></label>
                                <div class="col-md-5">
                                    <input class="form-control" id="phoneNumber" name="phoneNumber" type="number">
                                </div>
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="gender">Gender <span class="text-danger">*</span></label>
                                <div class="col-md-5">
                                    <div class="nice-radio nice-radio-inline">
                                        <input id="genderMale" name="gender" type="radio" value="Male" checked="checked">
                                        <label for="genderMale">Male</label>
                                    </div>
                                    <div class="nice-radio nice-radio-inline">
                                        <input id="genderFemale" name="gender" value="Female" type="radio">
                                        <label for="genderFemale">Female</label>
                                    </div>
                                </div>
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="address">Address <span class="text-danger">*</span></label>
                                <div class="col-md-5">
                                    <input class="form-control" id="address" name="address">
                                </div>
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="country">Country <span class="text-danger">*</span></label>
                                <div class="col-md-5">
                                    <input type="hidden" name="country" id="country" style="width:100%">
                                </div>
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="briefNotes">Brief Notes</label>
                                <div class="col-md-5">
                                    <textarea class="autogrow form-control" name="briefNotes" id="briefNotes" rows="3"></textarea>
                                </div>
                            </div><!-- /form-group -->

                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="wizard3">
                            <h3 class="lead">Documentação</h3>

                            <div id="campoPai"></div>
                            <input type="button" value="Adicionar campos" onclick="addCampos()">

                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="wizard4">
                            <h3 class="lead">Make sure you entered the correct data!</h3>
                            <h4 class="page-header lead">Account</h4>
                            <h4 class="page-header lead">Profile</h4>
                            <h4 class="page-header lead">Billing</h4>
                        </div><!-- /.tab-pane -->

                        <div class="wizard-actions">
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-3 pull-right">
                                    <button type="button" class="btn btn-silc wizard-prev"><i class="fa fa-arrow-circle-o-left"></i> Back</button>
                                    <button type="button" class="btn btn-primary wizard-next">Continuar <i class="fa fa-arrow-circle-o-right"></i></button>
                                    <button type="submit" class="btn btn-primary finish">Submit</button>
                                </div><!-- /.cols -->
                            </div><!-- /form-group -->
                        </div><!-- /.wizard-actions -->

                    </div><!-- /.tab-content -->
                </form><!-- /form -->
            </div><!-- /#rootwizard -->
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->

</div><!-- /.content -->
