
<div class="profile-header clearfix">
    <div class="perfil">
        <div class="profile-avatar kit-avatar kit-avatar-128 border-transparent pull-left">
            <img src="dinamico/perfil/emily.jpg" alt="Emily Sampaio">
        </div>
        <p class="profile-status"><strong>Emily Sampaio</strong></p>
        <div class="profile-data">
            <i class="fa fa-briefcase fa-fw"></i>Rua das damas da noite, 0000 <br>
            <i class="fa fa-envelope fa-fw"></i>contato@contato.com.br
            <!-- <i class="fa fa-reply fa-fw"></i>8 Canceled -->
        </div>
        <button class="btn-alterar"rel="tooltip" title="Alterar"><i class="fa fa-pencil"></i> </button>
    </div>
    <div class="menu">
        <ul class="nav nav-tabs nav-tabs-alt">
            <li><a href="perfil.html">PERFIL</a></li>
            <li class="active"><a href="perfil_atividades.html">ATIVIDADES</a></li>
            <li><a href="perfil_sociais.html">PROGRAMAS SOCIAIS</a></li>
            <li><a href="perfil_historico.html">HISTÓRICO</a></li>
            <li><a href="perfil_atendimento.html">ATENDIMENTO</a></li>
        </ul>
    </div>
</div><!-- /.profile-header -->


<div class="col-xs-4 col-sm-4 col-md-4">
    <div class="panel-body">
        <ul class="nav nav-tabs" id="demo-tabs1">
            <li class="active"><a href="#ate1" data-toggle="tab"><span class="tab_destaque">27</span><br> ATENDIMENTOS</a></li>
            <li><a href="#ate2" data-toggle="tab"><span class="tab_destaque">7</span><br> PENDENTES</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="ate1">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                    </tbody>
                </table><!-- /table -->
            </div>
            <div class="tab-pane fade" id="ate2">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                        <tr>
                            <td class="tabela"><i class="fa fa-comment-o"></i> 12</td>
                            <td class="tabela">EMPREGO PARA SEU FILHO ANDERSON</td>
                        </tr>
                    </tbody>
                </table><!-- /table -->
            </div>
        </div><!-- /tab-content -->
    </div><!-- /panel-body -->
</div>

<div class="col-xs-4 col-sm-4 col-md-4">
    <div class="panel-body">
        <ul class="nav nav-tabs" id="demo-tabs1">
            <li class="active"><a href="#age1" data-toggle="tab" class="verde"><span class="tab_destaque">5</span><br> AGREGADOS</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="age1">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="tabela">JOÃO DOS SANTOS</td>
                        </tr>
                        <tr>
                            <td class="tabela">MARIA LUCIA</td>
                        </tr>
                        <tr>
                            <td class="tabela">CARLOS SAMPAIO</td>
                        </tr>
                        <tr>
                            <td class="tabela">DANIELE DA PADARIA</td>
                        </tr>
                        <tr>
                            <td class="tabela">JOÃO DOS SANTOS</td>
                        </tr>
                    </tbody>
                </table><!-- /table -->
            </div>

        </div><!-- /tab-content -->
    </div><!-- /panel-body -->
</div>

<div class="col-xs-4 col-sm-4 col-md-4">
    <div class="panel-body">
        <ul class="nav nav-tabs" id="demo-tabs1">
            <li class="active"><a href="#contato" data-toggle="tab" class="laranja"><span class="tab_destaque">10</span><br> CONTATOS</a></li>
            <li><a href="#endereco" data-toggle="tab" class="cinza"><span class="tab_destaque">7</span><br> ENDERECOS</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="contato">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="danger tabela">(95) 9999-9999</td>
                        </tr>
                        <tr>
                            <td class="tabela">contato@contato.com.br</td>
                        </tr>
                        <tr>
                            <td class="tabela">contato2@contato.com.br</td>
                        </tr>
                        <tr>
                            <td class="tabela">(95) 0000-0000</td>
                        </tr>
                        <tr>
                            <td class="tabela">(95) 0000-0000</td>
                        </tr>
                    </tbody>
                </table><!-- /table -->
            </div>
            <div class="tab-pane fade" id="endereco">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="danger tabela"><strong>ENTREGA</strong><br>Rua da damas da noite,000<br>Pricumã - Boa Vista</td>
                        </tr>
                        <tr>
                            <td class="tabela"><strong>RESIDENCIAL</strong><br>Rua da damas da noite,000<br>Pricumã - Boa Vista</td>
                        </tr>
                        <tr>
                            <td class="tabela"><strong>COMERCIAL</strong><br>Rua da damas da noite,000<br>Pricumã - Boa Vista</td>
                        </tr>
                        <tr>
                            <td class="tabela"><strong>OUTRO</strong><br>Rua da damas da noite,000<br>Pricumã - Boa Vista</td>
                        </tr>

                    </tbody>
                </table><!-- /table -->
            </div>
        </div><!-- /tab-content -->
    </div><!-- /panel-body -->
</div>
