<div class="profile-header clearfix">
    <div class="perfil">
        <div class="profile-avatar kit-avatar kit-avatar-128 border-transparent pull-left">
            <img src="dinamico/perfil/emily.jpg" alt="Emily Sampaio">
        </div>
        <p class="profile-status"><strong>Emily Sampaio</strong></p>
        <div class="profile-data">
            <i class="fa fa-briefcase fa-fw"></i>Rua das damas da noite, 0000 <br>
            <i class="fa fa-envelope fa-fw"></i>contato@contato.com.br
            <!-- <i class="fa fa-reply fa-fw"></i>8 Canceled -->
        </div>
        <button class="btn-alterar"rel="tooltip" title="Alterar"><i class="fa fa-pencil"></i> </button>
    </div>
    <div class="menu">
        <ul class="nav nav-tabs nav-tabs-alt">
            <li><a href="perfil.html">PERFIL</a></li>
            <li><a href="perfil_atividades.html">ATIVIDADES</a></li>
            <li><a href="perfil_sociais.html">PROGRAMAS SOCIAIS</a></li>
            <li><a href="perfil_historico.html">HISTÓRICO</a></li>
            <li class="active"><a href="perfil_atendimento.html">ATENDIMENTO</a></li>
        </ul>
    </div>
</div><!-- /.profile-header -->
